<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InLine - Engenharia de Software</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <header>
        <img class="logo" src="./img/inline_engenharia_de_software.png" href="https://www.inlinetech.com.br/" target="blank">
        <div class="navigation">
          <a href="./index.html" target="blank">Home</a>
          <a href="http://localhost:8000/Anuncios/">Empresas</a>
          <a href="http://localhost:8000/Anuncios/">Anúncios</a>
          <a href="https://www.inlinetech.com.br/#contato" target="blank">Contate-nos</a>
          <a href="http://localhost:8000/admin">Gestão Anúncios</a>
        </div>
      </header>
      <div class="content">
        <div class="info">
          <h2>Gestão de Anúncios <br><span>Inline</span></h2>
          <p>Estamos desenvolvendo uma API para facilitar a criação dos seus anúncios, com uma gestão simples e ágil. Clique em SAIBA MAIS para vizualizar os filtros de anúncios por empresas.</p>
          <a href="http://localhost:8000/Anuncios/" class="info-btn">Ver Anúncios</a>
        </div>
      </div>
      
      <div class="media-icons">
        <a href="https://www.facebook.com/inlineengenhariaanapolis/" target="blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/inlineengenharia/" target="blank"><i class="fab fa-instagram"></i></a>
      </div>
    </section>
  </body>
</html>
      